<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cmpsoft.mobile.plugin.pushnotification"
    version="1.0.0">

    <name>PushNotification</name>
    <description>pushNotification plugin description</description>
    <license>Apache 2.0</license>
	<keywords>cmpsoft, pushnotification</keywords>
	
	<js-module src="www/PushNotification.js" name="FGPushNotification">
		<clobbers target="fastgoPushNotification" />
	</js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FGPushNotification">
                <param name="android-package" value="com.cmpsoft.mobile.plugin.pushnotification.PushNotification"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS" />
			<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
               
			    <!-- push service -->
				<receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
					android:process=":bdservice_v1">
					<intent-filter>
						<action android:name="android.intent.action.BOOT_COMPLETED" />
						<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
						<action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
						<action android:name="com.baidu.android.pushservice.action.media.CLICK" />
					</intent-filter>
				</receiver>

				<receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
					android:process=":bdservice_v1">
					<intent-filter>
						<action android:name="com.baidu.android.pushservice.action.METHOD" />
						<action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
					</intent-filter>
					<intent-filter>
						<action android:name="android.intent.action.PACKAGE_REMOVED"/>
						<data android:scheme="package" />
					</intent-filter>                   
				</receiver>
				
				<service android:name="com.baidu.android.pushservice.PushService"
					android:exported="true" android:process=":bdservice_v1" />
			   
        </config-file>

        <source-file src="src/android/PushNotification.java" target-dir="src/com/cmpsoft/mobile/plugin/pushnotification" />
        <source-file src="src/android/armeabi/libbdpush_V1_0.so" target-dir="libs/armeabi" />
        <source-file src="src/android/mips/libbdpush_V1_0.so" target-dir="libs/mips" />
        <source-file src="src/android/x86/libbdpush_V1_0.so" target-dir="libs/x86" />
        <source-file src="src/android/pushservice-2.4.0.jar" target-dir="libs" />
    </platform>  

</plugin>
